.col-sm-4 {
width: 100%;
}

h1 {
font-family:Helvetica;
font-size:18px;
text-align:left;
}

h2 {
padding-top: 20px;
font-family:Helvetica;
font-size:14px;	
text-align:left;
}

p {
padding-top: 20px;
font-family:Helvetica;
font-size:18px;
text-align:left;
}

img {
width: 30%;
}

