h1 {
font-family:Helvetica;
font-size:18px;
text-align: left;
}

h2 {
padding-top: 50px;
font-family:Helvetica;
font-size:18px;
text-align: left;	
}

.center {
display: block;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
width: 50%;

}

p {
padding-top: 10px;
font-family:Helvetica;
font-size:12px;
text-align: left;
}

div {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
text-align: left;
}
