h1 {
font-family:Helvetica;
font-size:18px;
}

h2 {
padding-top: 20px;
font-family:Helvetica;
font-size:14px;	
}

p {
padding-top: 20px;
font-family:Helvetica;
font-size:18px;
}

img {
width: 70%;
}


